<li class="fav-links__block__list__item js-fav-link-item">
    <h3 class="fav-links__block__list__item__title">{{title}}</h3>
    <img class="fav-links__block__list__item__img" src="{{img}}" alt="">
    <p class="fav-links__block__list__item__descr">{{descr}}</p>
    <a class="fav-links__block__list__item__link js-link" href="{{url}}">{{url}}</a>
    <button class="fav-links__block__list__item__btn js-delete-link-btn">DELETE</button>
</li>
